{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
    <h1 class="mt-5">Log in</h1>
    <div class="col-6">
        </div>
        <!-- Email input -->
        <form action="/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Log in!</button>
        </form>
        <label><a href="{% url "register" %}">Register new account</a></label>

    </div>
{% endblock content %}
{% block rightpanel %}
{% endblock rightpanel %}




