main > .container {
  padding: 60px 15px 0;
}

.question {
  height: 220px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.question-avatar {
  height: 150px;
  width: 150px;
}

.question-avatar > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.question-answer {
  height: 220px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.question-test {
  margin-bottom: 5%;
}

.question-main {
  height: 220px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.question-form {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.question-form > button {
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.card {
	--bs-card-border-width: 0;
}

.btn {
  margin-left: 10px;
}

.form-group {
  padding: 10px;
}

.error-message {
  color: red;
}
